<a class="button" routerLink="/login"> Log out </a>
<h2>Crea a tu jugador</h2>
<a class="button" routerLink="/main"> Inicio </a>| <a class="button" routerLink="/buscar"> buscar </a>
<div>
    Nombre:<input type="">
</div>
<div>
    Nacionalidad: <input type="">
</div>
<div>
    Edad: <input type="">
</div>
<div>
    pace: <input type="">
</div>
<div>
    Shooting: <input type="">
</div>
<div>
    passing: <input type="">
</div>
<div>
    dribbling: <input type="">
</div>
<div>
    defending: <input type="">
</div>
<div>
    physic: <input type="">
</div>
