<ul><a class="button" routerLink="/login"> Log out </a></ul>
<h2>Crea a tu jugador</h2>
<li><a class="button" routerLink="/main"> Inicio </a>| <a class="button" routerLink="/buscar"> buscar </a></li>
<div>
    Nombre:<input [(ngModel)]="nombre" type="">
</div>
<div>
    Nacionalidad: <input [(ngModel)]="nacionalidad" type="">
</div>
<div>
    Edad: <input [(ngModel)]="edad" type="">
</div>
<div>
    pace: <input [(ngModel)]="pace" type="">
</div>
<div>
    Shooting: <input [(ngModel)]="shooting" type="">
</div>
<div>
    passing: <input [(ngModel)]="passing" type="">
</div>
<div>
    dribbling: <input [(ngModel)]="dribbling" type="">
</div>
<div>
    defending: <input [(ngModel)]="defending"  type="">
</div>
<div>
    physic: <input [(ngModel)]="physic" type="">
</div>
<button (click)="agregar()">Crear</button>