<ul><a class="button" routerLink="/login"> Log out </a></ul>
<h2>Buscar jugador</h2>
<li><a class="button" routerLink="/main"> Inicio </a>|<a class="button" routerLink="/crear"> crear jugador </a></li>
<h3>Escriba el nombre, pais o equipo</h3>
<nav>
    <div>Jugador <input [(ngModel)]="nombre" type="text"> Pais <input [(ngModel)]="nacionalidad" type = "text"> Club <input [(ngModel)]="club" type="text"> Version <input [(ngModel)]="Nversion" type="number"> <button
        (click)="filtrar()">Buscar</button>| <a class="button" routerLink="/stads"> mirar Stads </a></div> <!--Version<input type="version"> Nacionalidad<input type="nacionalidad"> </div>-->
</nav>
<div *ngFor="let jugador of jugadores">
    

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-4">
                    version
                </th>
                <th scope="col" class="px-6 py-4">
                    jugador
                </th>
                <th scope="col" class="px-6 py-4">
                    Pais
                </th>
                <th scope="col" class="px-6 py-4">
                    Club
                </th>
                <th scope="col" class="px-6 py-4">
                    age
                </th>

                <th scope="col" class="px-6 py-4">
                    posicion
                </th>
                <th scope="col" class="px-6 py-4">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    {{jugador.fifa_version}}
                </td>
                <td scope="row" class="px-6 py-4 font-center text-gray-900 whitespace-nowrap dark:text-white">
                    {{jugador.long_name}}
                </td>
                <td class="px-6 py-4">
                    {{jugador.nationality_name}}
                </td>
                <td class="px-6 py-4">
                    {{jugador.club_name}}
                </td>
                <td class="px-6 py-4">
                    {{jugador.age}}
                </td>

                <td class="px-6 py-4">
                    {{jugador.player_positions}}
                </td>
                <td class="px-6 py-4">
                    <a [routerLink]="['/stats/' + jugador.id]">ver</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>
<div>   <button
    (click)="descargar()">descargar CSV</button>
</div>
<div>
    <div>

</div>
<button (click)="paginaAnterior()">atras</button> <button (click)="paginaSiguiente()">siguiente</button> 
    </div>


<!--
<div *ngFor="let jugador of jugadores">
    {{jugador.long_name}}
    {{jugador.nationality_name}}
    {{jugador.club_name}}
    {{jugador.shooting}}
</div>
-->