<a class="button" routerLink="/login"> Log out </a>
<h2>¿Que es lo que busca?</h2>
<nav>
    <ul>
      <!--<li><a routerLink="/buscar" routerLinkActive="active" ariaCurrentWhenActive="page">Buscar jugador</a></li>-->
      <nav>
        <a class="button" routerLink="/buscar">buscar jugadores</a> |
        <a class="button" routerLink="/crear">Crear jugador</a>
      </nav>
      <!--<li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>-->
    </ul>
  </nav>
<div>

</div>