<ul><a class="button" routerLink="/login"> Log out </a></ul>
<h2>¿Que es lo que busca?</h2>
<nav>
      <!--<li><a routerLink="/buscar" routerLinkActive="active" ariaCurrentWhenActive="page">Buscar jugador</a></li>-->
      <nav>
      <li> <a class="button" routerLink="/buscar">buscar jugadores</a></li><li><a class="button" routerLink="/crear">Crear jugador</a></li> 
      </nav>
      <!--<li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>-->
  </nav>
<div>

</div>